<h1>Current Posts</h1>

<% @posts.each do |post| %>

<div><%= link_to post.title, post_path(post) %></div>





<% end %>

<br>

<%= button_to "New Post", new_post_path(@post) %>

<br>

<%= link_to "All Cities", cities_path %> 
