<div class="container">

<h1>All the CITIES</h1>

<% @city.each do |city| %>
  <div class="city">
     <h2><%= link_to city.name, root_url(subdomain: city.subdomain) %></h2>
  </div>
<% end %>
<br>
<br>

<%= button_to 'All Posts', posts_path, class: "btn btn-default" %>

</div>
