<h1>All the CITIES</h1>

<% @city.each do |city| %>
  <div class="city">
     <h2><%= link_to city.name, root_url(subdomain: city.subdomain) %></h2>
    <div class="actions">
      <%= link_to "Edit", edit_city_path(city) %> |
      <%= link_to "Destroy", city, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
<% end %>
<br>
<br>
<p><%= button_to "New City", new_city_path %></p>

