<h1><%= @category.name %></h1>

<div id="posts">
<% @category.posts.each do |post| %>
  <% if @category.post.city_id == @city %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <% end %>
<% end %>

<br>
<%= button_to "New Post", new_post_path(@post), class: "btn btn-primary btn-lg" %> 